spring:
  profiles:
    active: prod

logging:
  file:
    name: logs/logfile.log
  pattern:
    console: "%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(%5p) %clr(${PID}){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n%wEx"
    file: "%d{yyyy-MM-dd} %d{HH:mm:ss.SSS} %-5level %logger{36}.%M - %msg%n"
  level:
    root: debug

springdoc:
  writer-with-order-by-keys: true
  swagger-ui:
    path: /api
#    oauth:
#      app-name:

jwk-set-uri: http://localhost:18080/auth/realms/pc-store/protocol/openid-connect/certs