server:
  port: 8443
  ssl:
    key-store-type: PKCS12
    enabled: true
    key-store: classpath:keystore/pc-store.p12
    key-store-password: qweqwe
    key-alias: smart

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/smart
    username: smartadmin
    password: 6tfgv6zghb6
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false
    generate-ddl: true
    show-sql: true
  jackson:
    default-property-inclusion: non_null
  config:
    activate:
      on-profile: prod
logging:
  level: warn

springfox:
  documentation:
    enabled: false
    swagger-ui:
      enabled: false
    open-api:
      enabled: false
    swagger:
      v2:
        enabled: false