spring:
  profiles:
    active: prod

  security:
    oauth2:
      client:
        registration:
          keycloak:
            client-id: test-client
            client-secret: fwZ1Wjq9sJWRADy7TiVuipUo1pGEHTce
            clientName: Keycloak
            authorization-grant-type: authorization_code
            redirect-uri: '{baseUrl}/login/oauth2/code/{registrationId}'
            scope:
              - openid
              - profile
              - email
        provider:
          keycloak:
            authorization-uri:  http://localhost:8180/realms/master/protocol/openid-connect/auth
            token-uri: http://localhost:8180/realms/master/protocol/openid-connect/token
            user-info-uri: http://localhost:8180/realms/master/protocol/openid-connect/userinfo
            jwk-set-uri: http://localhost:8180/realms/master/protocol/openid-connect/certs
            user-name-attribute: preferred_username

#        registration:
#          keycloak:
#            provider: keycloak
#            client-id: login-app
#            authorization-grant-type: authorization_code
#            scope: openid
#      provider:
#        keycloak:
#          issuer-uri: http://localhost:8180/realms/master
#          user-name-attribute: preferred_username
#  security:
#    oauth2:
#      resourceserver:
#        jwt:
#          issuer-uri : http://localhost:8180/realms/springboot

logging:
  file:
    name: logs/logfile.log
  pattern:
    console: "%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(%5p) %clr(${PID}){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n%wEx"
    file: "%d{yyyy-MM-dd} %d{HH:mm:ss.SSS} %-5level %logger{36}.%M - %msg%n"
  level:
    root: debug

springdoc:
  writer-with-order-by-keys: true
  swagger-ui:
    path: /api
#    oauth:
#      app-name: