server:
  port: 8443
  ssl:
    key-store-type: PKCS12
    enabled: true
    key-store: classpath:keystore/pc-store.p12
    key-store-password: qweqwe
    key-alias: smart

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/pcstore
    username: pcstore_admin
    password: qVbE2qGee7FJHV9Yiet2
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false
    generate-ddl: true
    show-sql: true
  jackson:
    default-property-inclusion: non_null
  config:
    activate:
      on-profile: prod

logging:
  level:
    root: warn

springdoc:
  swagger-ui:
    enabled: false