@import '~@angular/material/theming';
@import '~@angular/cdk/overlay-prebuilt.css';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@include mat-core(); // TODO: should be. Why ?

$blue-color: rgba(0, 0, 255, 0.5);

$pcstore-primary: mat-palette((
  500: $blue-color,
  contrast: (
    500: #FFF,
  )
));

$pcstore-accent: mat-palette((
  500 : rgb(255, 96, 0),
  contrast: (
    500: #FFF,
  )
), 500);

$pcstore-warn: mat-palette((
  500: rgb(255, 0, 0, 0.5),
  contrast: (
    500: #FFF,
  )
), 500);

$pcstore-theme: mat-dark-theme($pcstore-primary, $pcstore-accent, $pcstore-warn);

@include angular-material-theme($pcstore-theme);

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-drawer-backdrop.mat-drawer-shown {
  background-color: rgba(0, 0, 0, 0.75) !important;
}

.main-section {
  padding: 1em;
}

.footer-section {
  padding: 0.5em;
  height: 3em;
  background-color: $blue-color
}

.final-section-title {
  font-size: x-large;
}

.final-section-sub-item {
  padding-left: 2em;
}

.stepper-section {
  margin-bottom: 1em;
}

.main-title {
  word-wrap: break-word;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em
}
