<!--<div class="main-section" fxFlex="grow" fxLayout="row" fxLayoutAlign="space-around center" >-->
<!--&lt;!&ndash;  <h1 style="text-align: center;">Herzlich willkommen !</h1>&ndash;&gt;-->
<!--  <h1>Herzlich willkommen !</h1>-->
<!--</div>-->
<!--<button mat-raised-button>Basic</button>-->
<!--<button mat-raised-button color="primary">Primary</button>-->
<!--<button mat-raised-button color="accent">Accent</button>-->
<!--<button mat-raised-button color="warn">Warn</button>-->
<!--<button mat-raised-button disabled>Disabled</button>-->
<div style="top: 50%;position: sticky;">
  <h1 style="text-align: center;">Herzlich willkommen !</h1>
  <!--  <h1>Herzlich willkommen !</h1>-->
</div>
